# Created by https://www.toptal.com/developers/gitignore/api/swift,macos,xcode
# Edit at https://www.toptal.com/developers/gitignore?templates=swift,macos,xcode

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \\r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### Swift ###
# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# *Package.resolved* should be checked in as it ensures build reproducibility.
# See https://github.com/apple/swift-package-manager/blob/master/Documentation/Usage.md#managing-dependencies
# Packages/
.build/
*.xcodeproj
xcuserdata/
DerivedData/
*.db
*.sqlite*

### Xcode ###
# Xcode
#
# gitignore contributors: remember to keep this file compatible with mère's Xcode plugin
# https://github.com/merereport/MMXcodeProjectMaker

## User settings
xcuserdata/
*.xcscmblueprint
*.xccheckout

## Compatibility imported project files
*.moved-aside

## Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# *Package.resolved* should be checked in as it ensures build reproducibility.
# See https://github.com/apple/swift-package-manager/blob/master/Documentation/Usage.md#managing-dependencies
# Packages/
# Package.pins
# Package.resolved
# *.xcodeproj
# !Package.swift
.build/
DerivedData/

## Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts
Carthage/Build

## CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
# Pods/

# Used by AppCode
.idea/

# Carthage
Carthage/

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
#
# After new code injection implementations turn this on
#**/*.swift.orig

# Accio dependency manager
Dependencies/
.accio/

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# idf file, generated when using swift migrate
*.idf

# End of https://www.toptal.com/developers/gitignore/api/swift,macos,xcode 